{% set entry = craft.entries.slug('footer').first() %}

{% block footer %}
<div class="pb-3" id="footer-05">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <p class="text-secondary">
                    &copy; {{ entry.footerYear }}
                    <!--&copy; 2017 &mdash; 2018, Indyops-->
                </p>
                <a href="/privacy">privacy</a>
            </div>
            <div class="col-md-12 col-lg-6 text-left text-lg-right text-secondary">
                <p class="my-0">
                    {{ entry.footerAddress }}
                    <!--778 Folsom Avenue, Suite A-200, San&nbsp;Francisco, CA&nbsp;54107-->
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}