{% block header %}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <a class="navbar-brand p-0" href="index.html" target="_blank">
        <span></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-1">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item mx-1 dropdown active">
                <a class="nav-link dropdown-toggle" id="templates-dropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Templates</a>
                <div class="dropdown-menu" aria-labelledby="templates-dropdown">
                    <a class="dropdown-item" href="template-1.html">First</a>
                    <a class="dropdown-item" href="template-2.html">Second</a>
                    <a class="dropdown-item" href="template-3.html">Third</a>
                    <a class="dropdown-item" href="template-4.html">Fourth</a>
                    <a class="dropdown-item" href="template-5.html">Fifth</a>
                    <a class="dropdown-item" href="template-6.html">Sixth</a>
                    <a class="dropdown-item" href="template-7.html">Seventh</a>
                    <a class="dropdown-item" href="template-8.html">Eighth</a>
                    <a class="dropdown-item" href="template-9.html">Ninth</a>
                </div>
            </li>
            <li class="nav-item mx-1 dropdown">
                <a class="nav-link dropdown-toggle" id="pages-dropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                <div class="dropdown-menu" aria-labelledby="pages-dropdown">
                    <a class="dropdown-item" href="page-about.html"> About</a>
                    <a class="dropdown-item" href="page-features.html"> Features</a>
                    <a class="dropdown-item" href="page-faq.html"> FAQ</a>
                    <a class="dropdown-item" href="page-login.html"> Login</a>
                    <a class="dropdown-item" href="page-register.html"> Register</a>
                    <a class="dropdown-item" href="page-404.html"> 404</a>
                    <a class="dropdown-item" href="page-soon.html"> Coming soon</a>
                    <a class="dropdown-item" href="page-blog.html"> Blog</a>
                    <a class="dropdown-item" href="page-blog-entry.html"> Blog entry</a>
                </div>
            </li>
            <li class="nav-item mx-1">
                <a class="nav-link" href="icons.html">Icons </a>
            </li>
            <li class="nav-item mx-1">
                <a class="nav-link" href="documentation.html">Documentation</a>
            </li>
            <li class="nav-item ml-1 mr-3">
                <a class="nav-link" href="mailto:hello@getreplacer.com">Support </a>
            </li>
            <li class="nav-item">
                <a class="btn mr-2 btn-light" id="buy-button" href="https://themes.getbootstrap.com/product/replacer-2/">Purchase</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}