{% block _contact %}
<div class="col-lg-5 col-md-8 col-sm-12 py-5 mx-auto ml-lg-auto mr-lg-0">
    <div class="card border-0">
        <div class="card-header bg-transparent px-5">
            <h2 class="h4 pt-3 pb-2 m-0">Contact us</h2>
        </div>
        <div class="card-block pt-4 px-5 pb-5">

            {% macro errorList(errors) %}
            {% if errors %}
            <ul class="errors">
                {% for error in errors %}
                <li class="alert alert-danger">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endmacro %}

            {% from _self import errorList %}

            {% if craft.app.session.hasFlash('notice') %}
            <p class="alert alert-success">{{ craft.app.session.getFlash('notice') }}</p>
            {% elseif craft.app.session.hasFlash('error') %}
            <p class="alert alert-danger">{{ craft.app.session.getFlash('error') }}</p>
            {% endif %}

            <p class="alert alert-info" id="form-wait-msg" style="display: none">
                Please wait while the form submits your info
            </p>

            <form method="post" action="" accept-charset="UTF-8">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="contact-form/send">


                <div class="form-group pt-3">
                    <input class="form-control form-control-lg rounded-0" id="from-email" type="email" name="fromEmail"
                           value="{{ message.fromEmail ?? 'Your Email address' }}">
                </div>
                {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

                <input id="subject" type="hidden" name="subject" value="Indyops">
                {{ message is defined and message ? errorList(message.getErrors('subject')) }}


                <div class="form-group mb-3">
                                <textarea class="form-control form-control-lg rounded-0"
                                          rows="4" id="message" name="message">
                                    {{ message.message ?? 'Put your message here' }}
                                </textarea>
                    {{ message is defined and message ? errorList(message.getErrors('message')) }}
                </div>

                <input style="display: none" id="secretHoneypotParamName" name="secretHoneypotParamName" type="text">

                <button id="submit-btn" class="btn btn-lg btn-warning mb-4 w-100 rounded-0" type="submit">
                    Send it
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}