.navbar-light-shadow {
	box-shadow: 0 0 4px rgba(0, 0, 0, .3);
  background-color: #fff;
}
.navbar-dark-shadow {
  background-color: #343a40;
}


hr {
  border-color: #eee;
}
@media (max-width: 1024px){
  .video{
    display: none;
  }
  #hero-07{
    background: url('../videos/bg.jpg') center center;
    background-size: cover;
  }
}

@media (max-width:991px) {
  #home .navbar-dark.fixed-top, #contact .navbar-dark.fixed-top {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }

  #home .navbar-dark .navbar-toggler, #contact .navbar-dark .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
  }

  #home .navbar-dark .navbar-toggler-icon, #contact .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

  #home .navbar-dark .navbar-nav .show > .nav-link,
  #home .navbar-dark .navbar-nav .active > .nav-link,
  #home .navbar-dark .navbar-nav .nav-link.show,
  #home .navbar-dark .navbar-nav .nav-link.active,
  #contact .navbar-dark .navbar-nav .show > .nav-link,
  #contact .navbar-dark .navbar-nav .active > .nav-link,
  #contact .navbar-dark .navbar-nav .nav-link.show,
  #contact .navbar-dark .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
  }

  #home .navbar-dark .navbar-nav .nav-link, #contact .navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
  }

  #hero-07{
    margin-top: 55px;
  }
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.hvr-float {
  transition: all 0.2s ease-in !important;
  opacity: .95
}

.hvr-float:hover {
  transition: all 0.2s ease-in !important;
  opacity: 1
}

.re__icon {
  border-radius: 5px;
  padding: 5px;
}

.re__icons-border {
  border: solid 2px #eee;
  padding: 20px 0;
  border-radius: 20px;
}

.re__card-template {
  transition: all .15s;
  border: none;
}

.re__card-template:hover {
  text-decoration: none !important;
  margin-top: -5px;
}

.re__thumb {
  overflow: hidden;
  background: transparent !important;
}

@media (max-width: 1200px) {
  #home .navbar-dark.fixed-top, #contact .navbar-dark.fixed-top{
    box-shadow:none;
  }

  .navbar {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: #fff; }

}

.btn-info {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

@media (min-width: 1450px) {
  #home h1{
    font-size: 3.4rem;
    margin-bottom: 2rem !important;
  }
  #home .lead{
    font-size: 1.3rem !important;
  }
}

@media (min-width: 1024px){
  #home h1,  #home .lead{
    text-align: left;
  }
}