{% extends "base.html" %}

{% block title %}about | indyops.io{% endblock %}

{% set entry = craft.entries.slug('about').first() %}

{% block content %}
<div class="bg-light pt-3">
    <div class="container d-flex flex-column pt-5">
        <div class="row my-auto my-5 pt-5 pb-4">
            <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                <h1 class="mb-2">{{ entry.aboutTitle1 }}</h1>
                <p class="lead text-secondary">
                    {{ entry.aboutText1 }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class=" pb-5 mb-2">
    <div class="container pt-3">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                <h2 class=" mb-2">
                    {{ entry.aboutTitle2 }}
                </h2>
                <p class="lead mb-4 text-secondary mr-5">
                    {{ entry.aboutText2 }}
                </p>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-lg-9 col-md-10 col-sm-12 mx-auto">
                <img class="w-100 my-5 pb-4" src="images/photo-40.jpg">
            </div>
        </div>-->
        <div class="row pt-3">
            <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                <h2 class=" mb-2"> {{ entry.aboutTitle3 }}</h2>
                <p class="lead mb-5 text-secondary mr-5">
                    {% for line in entry.aboutList %}
                    - {{ line.text }}<br>
                    {% endfor %}
                </p>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12 ml-auto">
                <ul class="text-secondary list-unstyled mb-4">
                    <li class="lead mb-2">
                        <i class="fa fa-check mr-2 text-secondary"></i>Mobile first design</li>
                    <li class="lead mb-2">
                        <i class="fa fa-check mr-2 text-secondary"></i>1000×8 SVG icons are included</li>
                    <li class="lead mb-2">
                        <i class="fa fa-check mr-2 text-secondary"></i>Easy customization</li>
                    <li class="lead mb-2">
                        <i class="fa fa-check mr-2 text-secondary"></i>Clean code</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 mr-auto">
                <ul class="text-secondary list-unstyled mb-4">
                    <li class="lead mb-2">
                        <i class="fa fa-check mr-2 text-secondary"></i>Mobile first design</li>
                    <li class="lead mb-2">
                        <i class="fa fa-check mr-2 text-secondary"></i>1000×8 SVG icons are included</li>
                    <li class="lead mb-2">
                        <i class="fa fa-check mr-2 text-secondary"></i>Easy customization</li>
                    <li class="lead mb-2">
                        <i class="fa fa-check mr-2 text-secondary"></i>Clean code</li>
                </ul>
            </div>
        </div>-->
    </div>
</div>
{% endblock %}