<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">-->
    {% includeCssFile "https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" %}
    <!--<link href="css/bootstrap.css" rel="stylesheet">-->
    {% includeCssFile "css/bootstrap.css" %}
    <!--<link href="css/replacer.css" rel="stylesheet">-->
    {% includeCssFile "css/replacer.css" %}
    <!--<link href="css/font-awesome.css" rel="stylesheet">-->
    {% includeCssFile "css/font-awesome.css" %}
    <!--<link href="css/site-style-1.0.0.css" rel="stylesheet">-->
    {% includeCssFile "css/site-style-1.0.0.css" %}

    <!--<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>-->
    {% includeJsFile "https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" %}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--{% includeJsFile "//code.jquery.com/jquery-1.11.1.min.js" %}-->
    <script>
        WebFont.load({
            google: {
                families: ['Ranga', 'Julius Sans One', 'Montserrat']
            }
        });
    </script>

    <!--<script src="//code.jquery.com/jquery.3.1.1.slim.min.js"></script>-->

    <script src="js/simple-skillbar.js"></script>
    <!--{% includeJsFile "js/simple-skillbar.js" %}-->

</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-light">
    <a class="navbar-brand p-0" href="/" target="_blank">
        <span s tyle="width: 100px; height: 30px; background-color: #0d78f2"></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li id="nav-link-home" class="nav-item mx-1">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li id="nav-link-about" class="nav-item mx-1">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li id="nav-link-studies" class="nav-item mx-1">
                <a class="nav-link" href="/studies">Our Work</a>
            </li>
            <li id="nav-link-contact-us" class="nav-item mx-1">
                <a class="nav-link" href="/contact-us">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>

{% block content %}{% endblock %}

<hr class="my-0">

{% include 'layouts/footer.html' %}

<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/replacer.js"></script>
<script src="js/contact-form.js"></script>
</body>
</html>