<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/replacer.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Ranga', 'Julius Sans One', 'Montserrat']
            }
        });
    </script>
    {% endblock %}
</head>
<body>

{% include 'layouts/header.html' %}

{% block content %}{% endblock %}

{% include 'layouts/footer.html' %}

{% includeJsFile "js/jquery-3.3.1.slim.min.js" %}
{% includeJsFile "js/popper.min.js" %}
{% includeJsFile "js/bootstrap.min.js" %}
{% includeJsFile "js/replacer.js" %}
</body>
</html>