{% extends "base.html" %}

{% block title %}contact-us | indyops.io{% endblock %}

{% set entry = craft.entries.slug('contact-us').first() %}

{% block content %}
<div id="hero-07"
>
    <div class="video">
        <video preload="auto" muted playsinline autoplay="autoplay" loop="loop"
               style="position: absolute; right: 0; bottom: 0; min-width:100%; min-height:100%">
            <source src="videos/hd-loopable-background-with-nice-abstract-blue-lines_bajkah41e__D_15M_2.mp4"
                    type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="container d-flex flex-column" style="min-height: 105vh;">
        <div class="row my-auto">
            <div class="col-lg-5 col-md-10 col-sm-12 py-5 text-white my-auto text-center text-lg-left mx-auto ml-lg-0 mr-lg-auto">
                <h1 class="display-4 mb-3 font-weight-normal" style="font-family: 'Montserrat', sans-serif;">
                    {{ entry.contactUsTitle }}
                </h1>
                <p class="lead mb-4">
                    {{ entry.contactUsText }}
                </p>
                <hr class="my-3 pb-4 border-light" style="opacity: .1;">
            </div>

            {% include 'forms/_contact.html' %}

        </div>
    </div>
</div>
<div class="bg-warning1 pt-3 bg-light" id="inner-2">
    <div class="container d-flex flex-column pt-5">
        <div class="row my-auto my-5 pt-5 pb-4">
            <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
                <h1 class="mb-2 font-weight-bold">Questions</h1>
                <p class="lead text-secondary">To spread the power of good design</p>
            </div>
        </div>
    </div>
</div>
<div class="pt-5 pb-5 mb-2" id="content-14">
    <div class="container pt-3">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                <h2 class="display-4 mb-2">Product</h2>
                <hr class="mt-3 mb-4">
                <div class="mb-4" id="faq-collapse-1">
                    <h5>
                        <a class="text-dark" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">How do I edit a page?</a>
                    </h5>
                    <p class="collapse m-3 p-0 mr-5 show" id="collapse-1">Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will. </p>
                </div>
                <div class="mb-4" id="faq-collapse-2">
                    <h5>
                        <a class="text-dark" data-toggle="collapse" href="#collapse-2" aria-expanded="true" aria-controls="collapse-2">Why was my article deleted?</a>
                    </h5>
                    <p class="collapse m-3 p-0 mr-5" id="collapse-2">Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will. </p>
                </div>
                <div class="mb-4" id="faq-collapse-3">
                    <h5>
                        <a class="text-dark" data-toggle="collapse" href="#collapse-3" aria-expanded="true" aria-controls="collapse-3">How do I change the name of an article?</a>
                    </h5>
                    <p class="collapse m-3 p-0 mr-5" id="collapse-3">Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will. </p>
                </div>
                <div class="mb-4" id="faq-collapse-4">
                    <h5>
                        <a class="text-dark" data-toggle="collapse" href="#collapse-4" aria-expanded="true" aria-controls="collapse-4">How do I delete my account? </a>
                    </h5>
                    <p class="collapse m-3 p-0 mr-5" id="collapse-4">Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will. </p>
                </div>
                <h2 class="display-4 mb-2 mt-5">Sales</h2>
                <hr class="mt-3 mb-4">
                <div class="mb-4" id="faq-collapse-5">
                    <h5>
                        <a class="text-dark" data-toggle="collapse" href="#collapse-5" aria-expanded="true" aria-controls="collapse-5">Who writes the articles on Wikipedia?</a>
                    </h5>
                    <p class="collapse m-3 p-0 mr-5" id="collapse-5">Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will. </p>
                </div>
                <div class="mb-4" id="faq-collapse-6">
                    <h5>
                        <a class="text-dark" data-toggle="collapse" href="#collapse-6" aria-expanded="true" aria-controls="collapse-6">Who owns Wikipedia?</a>
                    </h5>
                    <p class="collapse m-3 p-0 mr-5" id="collapse-6">Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will. </p>
                </div>
                <div class="mb-4" id="faq-collapse-7">
                    <h5>
                        <a class="text-dark" data-toggle="collapse" href="#collapse-7" aria-expanded="true" aria-controls="collapse-7">Why am I having trouble logging in?</a>
                    </h5>
                    <p class="collapse m-3 p-0 mr-5" id="collapse-7">Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will. </p>
                </div>
                <div class="mb-4" id="faq-collapse-8">
                    <h5>
                        <a class="text-dark" data-toggle="collapse" href="#collapse-8" aria-expanded="true" aria-controls="collapse-8">How can I contact Wikipedia?</a>
                    </h5>
                    <p class="collapse m-3 p-0 mr-5" id="collapse-8">Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will. </p>
                </div>
                <div class="mb-4" id="faq-collapse-9">
                    <h5>
                        <a class="text-dark" data-toggle="collapse" href="#collapse-9" aria-expanded="true" aria-controls="collapse-9">How do I delete my account?</a>
                    </h5>
                    <p class="collapse m-3 p-0 mr-5" id="collapse-9">Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will. </p>
                </div>
                <div class="mb-4" id="faq-collapse-10">
                    <h5>
                        <a class="text-dark" data-toggle="collapse" href="#collapse-10" aria-expanded="true" aria-controls="collapse-10">Who writes the articles on Wikipedia?</a>
                    </h5>
                    <p class="collapse m-3 p-0 mr-5" id="collapse-10">Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will. </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}