{% extends "base.html" %}

{% includeJsFile "js/index.js" %}

{% block title %}home | indyops.io{% endblock %}

{% set entry = craft.entries.slug('home').first() %}

{% block content %}

<div id="hero-07"
     style="/*background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.6)),
     url('https://www.getreplacer.com/images/photo-46.jpg') center center; background-size: cover;*/"
>
    <div class="video">
        <video preload="auto" muted playsinline autoplay="autoplay" loop="loop"
               style="position: absolute; right: 0; bottom: 0; min-width:100%; min-height:100%">
            <source src="videos/hd-loopable-background-with-nice-abstract-blue-lines_bajkah41e__D_15M_2.mp4"
                    type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="container d-flex flex-column" style="min-height: 105vh;">
        <div class="row my-auto">
            <div class="col-lg-5 col-md-10 col-sm-12 py-5 text-white my-auto text-lg-left mx-auto ml-lg-0 mr-lg-auto">
                <h1 class="display-4 mb-3 font-weight-normal" style="font-family: 'Montserrat', sans-serif;">
                    {{entry.homeTitle}}
                    <!--When good web design is just not enough-->
                </h1>
                <p class="lead mb-4">
                    {{entry.homeText}}
                    <!--Optimized web performance is now the only way-->
                    <!--to great user experience. We specialize in-->
                    <!--full stack webops to make your site fast, reliable-->
                    <!--and free from technical debt.-->
                </p>
                <hr class="my-3 pb-4 border-light" style="opacity: .1;">
            </div>

            {% include 'forms/_contact.html' %}

        </div>
    </div>
</div>

{% endblock %}