{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
{% includeCssFile "css/index.css" %}
{% includeJsFile "js/index.js" %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="bar-chart">
            <div class="chart clearfix">
                <div class="item">
                    <div class="bar">
                        <span class="percent">0</span>

                        <div class="item-progress" data-percent="0">
                            <span class="title">Big Data / Data Science</span>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="bar">
                        <span class="percent">3</span>

                        <div class="item-progress" data-percent="3">
                            <span class="title">Source Code Management (SCM)</span>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="bar">
                        <span class="percent">2</span>

                        <div class="item-progress" data-percent="2">
                            <span class="title">Code review</span>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="bar">
                        <span class="percent">5</span>

                        <div class="item-progress" data-percent="5">
                            <span class="title">Configuration Management</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}