{% extends "base.html" %}

{% block title %}privacy | indyops.io{% endblock %}

{% block content %}
<div class="container-fluid" id="hero-08" style="background: #24252A;">
    <div class="row" style="min-height: 100vh;">
        <div class="col-lg-4 col-md-8 col-sm-12 py-5 m-auto">
            <h2 class="display-4 mb-3 text-light" style="font-family: 'Montserrat', sans-serif;">Coming soon! </h2>
            <p class="mb-5 lead text-light mr-5">Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes</p>
            <form>
                <div class="form-row mb-4">
                    <div class="col-lg-8 col-md-8 col-sm-12 pb-2 mx-auto mx-lg-o">
                        <input class="form-control form-control-lg border-0 rounded-0" type="text" placeholder="Enter your E-mail">
                    </div>
                    <div class="col-lg-4 col-md-8 col-sm-12 pb-2 mx-auto mx-lg-0">
                        <button class="btn btn-warning w-100 btn-lg border-0 rounded-0" type="submit">Register
                            <i class="fa fa-angle-right ml-2"></i>
                        </button>
                    </div>
                </div>
            </form>
            <ul class="list-inline mt-5 mb-4">
                <li class="list-inline-item">
                    <a class="btn-link h2 text-light pr-1" href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-link h2 text-light p-1" href="#">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-link h2 text-light p-1" href="#">
                        <i class="fa fa-dribbble"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-link h2 text-light p-1" href="#">
                        <i class="fa fa-behance-square"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-link h2 text-light p-1" href="#">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
            </ul>
            <p class="text-secondary">
                <small>
                    <i class="fa fa-heart mr-2"></i>Version 0.98 available
                    <a class="btn-link text-secondary" href="#">
                        <u>for download </u>
                    </a>
                </small>
            </p>
        </div>
        <div class="col-lg-6 col-md-12" style="background: url('images/photo-43.jpg') center center no-repeat; background-size: cover; min-height: 110vh;"></div>
    </div>
</div>
{% endblock %}
