{% extends "base.html" %}

{% block title %}studies | indyops.io{% endblock %}

{% set entry = craft.entries.slug('studies').first() %}

{% block content %}
<div class="py-2" id="features-01">
    <div class="container py-5 my-5">
        <div class="row text-center">
            <div class="col">
                <h2 class="display-4 mb-3">
                    {{ entry.studiesTitle }}
                    <!--Development process-->
                </h2>
                <p class="lead text-secondary mb-5 pb-5">
                    {{ entry.studiesDescription }}
                    <!--All things indyops are specialists in:-->
                </p>
            </div>
        </div>

        {% for chart in entry.studiesCharts %}
            <div class="skills" data-width="{{ chart.value * 20 }}">{{ chart.text }}: {{ chart.value }}</div>
        {% endfor %}



        <!--&lt;!&ndash;<div class="skills" data-width="00">Big&nbsp;Data&nbsp;/&nbsp;Data&nbsp;Science:&nbsp;0</div>&ndash;&gt;-->
        <!--<div class="skills" data-width="60">Source Code Management (SCM): 3</div>-->
        <!--<div class="skills" data-width="40">Code review: 2</div>-->
        <!--<div class="skills" data-width="100">Configuration Management: 5</div>-->
        <!--<div class="skills" data-width="80">Build management: 4</div>-->
        <!--<div class="skills" data-width="80">Artifacts repository management: 4</div>-->
        <!--<div class="skills" data-width="80">Release management: 4</div>-->
        <!--<div class="skills" data-width="80">Test automation: 4</div>-->
        <!--<div class="skills" data-width="100">Continuous integration: 5</div>-->
        <!--<div class="skills" data-width="100">Continuous dedivvery: 5</div>-->
        <!--<div class="skills" data-width="100">Continuous deployment: 5</div>-->
        <!--<div class="skills" data-width="100">Infrastructure as Code: 5</div>-->
        <!--<div class="skills" data-width="100">Routine automation: 5</div>-->
        <!--<div class="skills" data-width="100">Key appdivcation performance monitoring/indicators: 5</div>-->
        <!--<div class="skills" data-width="80">Cloud Computing: 4</div>-->
        <!--<div class="skills" data-width="80">Cloud computing technologies: 4</div>-->
        <!--<div class="skills" data-width="40">Multi-tier cloud architecture model: 2</div>-->
        <!--<div class="skills" data-width="80">Cloud architectures: 4</div>-->
        <!--<div class="skills" data-width="80">Cloud offerings: 4</div>-->
        <!--<div class="skills" data-width="80">Cloud security: 4</div>-->
        <!--<div class="skills" data-width="80">Backup and recovery: 4</div>-->
        <!--&lt;!&ndash;<div class="skills" data-width="00">Building&nbsp;Big&nbsp;Data&nbsp;Appdivcations:&nbsp;0</div>&ndash;&gt;-->
        <!--<div class="skills" data-width="80">Data storage - best practices for better organization and effectiveness: 4</div>-->
        <!--<div class="skills" data-width="60"> Computing and analyzing data: 3</div>-->
        <!--<div class="skills" data-width="40"> Apache Spark analytic platform: 2</div>-->
        <!--<div class="skills" data-width="100"> Visuadivzation with big data systems: 5</div>-->
        <!--<div class="skills" data-width="80"> Jenkins: 4</div>-->
        <!--<div class="skills" data-width="80"> Git: 4</div>-->
        <!--&lt;!&ndash;<div class="skills" data-width="00">Maven&nbsp;(Build)&nbsp;tool&nbsp;Integration&nbsp;with&nbsp;Jenkins:&nbsp;0</div>&ndash;&gt;-->
        <!--<div class="skills" data-width="80"> Building jobs with Jenkins: 4</div>-->
        <!--<div class="skills" data-width="40"> Source code review - Gerrit: 2</div>-->
        <!--<div class="skills" data-width="80"> Repository management: 4</div>-->
        <!--<div class="skills" data-width="80"> Testing with Jenkins: 4</div>-->
        <!--<div class="skills" data-width="60"> Chef: 3</div>-->
        <!--<div class="skills" data-width="80"> Ansible: 4</div>-->
        <!--<div class="skills" data-width="100"> Puppet: 5</div>-->
        <!--<div class="skills" data-width="100"> Monitoring: 5</div>-->
        <!--&lt;!&ndash;<div class="skills" data-width="00">Splunk:&nbsp;0</div>&ndash;&gt;-->
        <!--<div class="skills" data-width="100"> Nagios monitoring tool for infrastructure: 5</div>-->
        <!--<div class="skills" data-width="100"> Integrated dashboards for network analysis, monitoring, and bandwidth: 5</div>-->
        <!--<div class="skills" data-width="80"> Containers, IoT, and Microservices: 4</div>-->
        <!--<div class="skills" data-width="100"> Virtuadivzation: 5</div>-->
        <!--<div class="skills" data-width="80"> Containers: 4</div>-->
        <!--<div class="skills" data-width="60"> Pivotal container services: 3</div>-->
        <!--<div class="skills" data-width="60"> Google container services: 3</div>-->
        <!--<div class="skills" data-width="80"> Container orchestration: 4</div>-->
        <!--&lt;!&ndash;<div class="skills" data-width="00">Internet&nbsp;of&nbsp;Things&nbsp;(IoT):&nbsp;0</div>&ndash;&gt;-->
        <!--<div class="skills" data-width="80"> Microservices: 4</div>-->
        <!--<div class="skills" data-width="40"> Big data and DevOps: 2</div>-->
        <!--<div class="skills" data-width="80"> Cloud migration: 4</div>-->
        <!--<div class="skills" data-width="80"> Migration to microservices: 4</div>-->
        <!--&lt;!&ndash;<div class="skills" data-width="00">Apps&nbsp;modernization:&nbsp;0</div>&ndash;&gt;-->
        <!--<div class="skills" data-width="80"> Best practices for architectural and implementation considerations: 4</div>-->
        <!--<div class="skills" data-width="100"> Testing: 5</div>-->
        <!--<div class="skills" data-width="80"> Service discovery: 4</div>-->
        <!--<div class="skills" data-width="80"> Deployment: 4</div>-->
        <!--<div class="skills" data-width="80"> Build and release pipedivne: 4</div>-->
        <!--<div class="skills" data-width="80"> Feature flags: 4</div>-->


    </div>
</div>

<script>

    $('.skills').simpleSkillbar();

</script>
{% endblock %}